#infrastructureContainer {
  height: 400px; /* фиксированная высота блока */
  overflow-y: auto; /* вертикальная прокрутка */
  padding-right: 10px;
}

.infrastructure-card {
  margin-bottom: 20px;
}

.infrastructure-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;   /* показываем не более 3 строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
