.logo {
  max-width: 300px;
  height: auto;
  display: block;   /* Обязательно */
  object-fit: contain;
}

.header-left {
  display: flex;        /* Для корректного отображения */
  align-items: center;  /* Выравнивание по центру */
}
